[submodule "NodeJs-DLV-Wrapper"]
	path = NodeJs-DLV-Wrapper
	url = https://github.com/Agile-visualizer-Team/NodeJs-DLV-Wrapper.git
[submodule "asd-graph-renderer"]
	path = asd-graph-renderer
	url = https://github.com/Agile-visualizer-Team/asd-graph-renderer.git
